<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Cart</title>
  </head>
  <body>
    <h1>Your Cart</h1>
    {% quantity in cart%}
    <p>
      {{ products[id].name }} (x{{ quantity }}) - ${{ (products[id].price *
      quantity) / 100 }}
    </p>
    {% endfor %}
    <br />
    <form action="{{ url_for('create_checkout_session') }}" method="post">
      <button type="submit">Checkout</button>
    </form>
    <a href="{{ url_for('home') }}">Continue Shopping</a>
  </body>
</html>
