<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Shop</title>
  </head>
  <body>
    <h1>Shop</h1>

    <div class="products">
      {% for product in products %}
      <div class="product-card">
        <img src="{{ product.img_url }}" alt="{{ product.name }}" />
        <p>{{ product.name }} - {{ product.price }} {{ product.currency }}</p>
        <a
          href="{{ url_for('add_to_cart', product_id=product.id) }}"
          class="add-to-cart"
          >Add to Cart</a
        >
      </div>
      {% endfor %}
    </div>

    <!-- Move the View Cart link outside the products div -->
    <div class="cart-container">
      <a href="{{ url_for('cart') }}" class="card-link">View Cart</a>
    </div>
  </body>
</html>
